{% if domain is not None %}
<h4 class="navigation">{{ domain.url }}
    > <a href="/domains/{{ domain.id }}/courses">Courses</a>
{% if course is not None %}
    > {{ course.name }}
    > <a href="/courses/{{ course.id }}/quizzes">Quizzes</a>
{% endif %}
{% if quiz is not None %}
    > {{ quiz.assignment.name }}
    > <a href="/quizzes/{{ quiz.id }}/grading-views">Grading Views</a>
{% elif is_quiz_import %}
    > Import Quiz
{% endif %}
{% if grading_view is not None %}
    {% if is_create_grading_view %}
        > Edit: {{ grading_view.name }}
    {% else %}
        > {{ grading_view.name }}
        > <a href="/grading-views/{{ grading_view.id }}/grading-groups">Grading Groups</a>
    {% endif %}
{% elif is_create_grading_view %}
    > Create
{% endif %}
{% if grading_group is not None %}
    > {{ grading_group.name }}
{% endif %}
</h4>
{% endif %}
<span layont="row"><hr flex/></span>

