{% load static %}
<html>
  <head>
    {% include "resources/dependencies.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'toolbar/toolbar.css' %}">
    <script src="{% static 'grading-views/grading-views.js' %}"></script>
    <title>Canvas Grader</title>
  </head>
  <body ng-app="grading-views" ng-controller="grading-views">
    <input type="hidden" id="grading-view" value="{{ grading_view }}"></input>
    <input type="hidden" id="quiz-id" value="{{ quiz.id }}"></input>
    {% include "toolbar/toolbar.html" %}
    <div class="all-content">
    {% include "toolbar/navigation.html" with is_create_grading_view=True %}
    {% verbatim %}
    <div ng-if="show_errmsg_missing_view_name">Please fill in "View Name".</div>
    <div ng-if="show_errmsg_missing_groups">Please add a grading group.</div>
    <div ng-if="show_errmsg_missing_group_name">Please fill in "Group Name" name for all grading groups.</div>
    <div ng-if="show_errmsg_missing_questions">Please add questions to all grading groups.</div>
    <div ng-if="show_errmsg_duplicate_questions">Please ensure questions are unique across all grading groups.</div>
    <div>
        <md-input-container>
            View Name:
            <input maxlength="30"
                   ng-model="grading_view.name"
                   aria-label="view name"></input>
        </md-input-container>
    </div>
    <div ng-repeat="grading_group in grading_view.grading_groups">
        <table st-table="rowCollection" class="table table-stiped">
        <tr>
            <td colspan="2">
                <md-input-container>
                    Group Name:
                    <input maxlength="30"
                           ng-model="grading_group.name"
                           aria-label="grading group name"></input>
                </md-input-container>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="RemoveGradingGroup(grading_group)">
                   Delete Group
                </button>
            </td>
        </tr>
        <tr ng-repeat="question in grading_group.questions track by $index">
            <td>Question {{$index + 1}}:</td>
            <td colspan="1">
                <select ng-model="grading_group.questions[$index]"
                        ng-options="q.id as q.question_name for q in all_questions">
                </select>
            </td>
            <td>
                <md-button aria-label="remove question"
                           ng-click="RemoveQuestionRow(grading_group, question)">
                    <md-icon>remove</md-icon>
                </md-button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <md-button aria-label="add question"
                           ng-click="AddQuestionRow(grading_group)">
                    <md-icon>add</md-icon>
                </md-button>
            </td>
        </tr>
        </table>
        
    </div>
    <button class="btn btn-success" ng-click="AddGradingGroup()">
        Add New Group
    </button>
    <button class="btn btn-success" ng-click="Save()">
        Save
    </button>
    {% endverbatim %}
  </div>
  </body>
</html>

