{% load static %}
<html>
  <head>
    {% include "resources/dependencies.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'toolbar/toolbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'grader/grader.css' %}">
    <script src="{% static 'grader/controller.js' %}"></script>
    <script src="{% static 'grader/api.js' %}"></script>
    <script src="{% static 'grader/grader.js' %}"></script>
    <title>Canvas Grader</title>
  </head>
  <body ng-app="grader" ng-controller="grader">
    <input id="quiz-id" type="hidden" value="{{ quiz.id }}"></input>
    <input id="questions" type="hidden" value="{{ questions }}"></input>
    <input id="canvas-users" type="hidden" value="{{ canvas_users }}"></input>
    {% include "toolbar/toolbar.html" %}
    {% verbatim %}
    <md-input-container>
        <md-select ng-model="canvas_user_selected"
                   style="min-width: 200px;"
                   aria-label="choose student"
                   ng-change="ChangeCurrentCanvasUser()">
            <md-option ng-repeat="c in canvas_users"
                       ng-value="c">
                    {{ c.name }}
                    <md-icon ng-if="c.graded" class="done">done</md-icon>
                    <md-icon ng-if="!c.graded" class="not-done">fiber_manual_record</md-icon>
            </md-option>
        </md-select>
    </md-input-container>
    <div ng-repeat="question in questions track by $index"
         id = "D{{question.id}}">
        <md-content>
            <md-card>
                <md-card-title>
                    <span class="md-headline">{{ question.question_name }}</span>
                    <span ng-if="question.can_answer" class="md-subhead">
                        <input class="points" type="text" maxlength=4>/ {{ question.points_possible }}
                    </span>
                </md-card-title>
                <md-card-content>
                    <div id="Q{{question.id}}"></div>
                    <div ng-if="question.can_answer">
                        <textarea>
                        </textarea>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
    {% endverbatim %}
  </body>
</html>


