{% load static %}
<html>
  <head>
    {% include "resources/dependencies.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'toolbar/toolbar.css' %}">
    <script src="{% static 'toolbar/toolbar.js' %}"></script>
    <title>Canvas Grader</title>
  </head>
  <body ng-app="canvas_grader" ng-controller="canvas_grader">
    {% include "toolbar/toolbar.html" %}
    <div class="all-content">
    {% include "toolbar/navigation.html" %}
    <div class="action-buttons">
        <md-button id="add-grading-view"
                type="button"
                class="md-primary md-hue-1"
                onclick="location.href = '/quizzes/{{ quiz.id }}/grading-views/add'">
            Create Grading View
        </md-button>
    </div>
    <span layont="row"><hr flex/></span>
    <ul>
    {% for gv in grading_views %}
        <li style="font-size: large; padding: .25em">
            <a href="/grading-views/{{ gv.id }}/grading-groups">
                {{ gv.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
  </div>
  </body>
</html>


