{% load static %}
<html>
  <head>
    {% include "resources/dependencies.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'toolbar/toolbar.css' %}">
    <script src="{% static 'toolbar/toolbar.js' %}"></script>
    <title>Canvas Grader</title>
  </head>
  <body ng-app="canvas_grader" ng-controller="canvas_grader">
    {% include "toolbar/toolbar.html" %}
    <h1>{{ domain.url }} > 
        <a href="/domains/{{ domain.id }}/courses">Courses</a> > 
        <a href="/courses/{{ course.id }}/quizzes">Quizzes</a> >
        <a href="/quizzes/{{ quiz.id }}/grading-views">Grading Views</a> >
        <a href="/grading-views/{{ grading_view.id }}/grading-groups">Grading Groups</a>
    </h1>
    <button id="add-grading-view" type="button" class="btn btn-info">Add</button>
    <ul>
    {% for gg in grading_groups %}
        <li style="font-size: large; padding: .25em">
            <a href="/quizzes/{{ quiz.id }}/grader?grading-group={{ gg.id }}">
                {{ gg.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
  </body>
  <script type = "text/javascript">
    document.getElementById("add-grading-view").onclick = function () {
        location.href = "/quizzes/{{ quiz.id }}/grading-views/add"
    };
  </script>
</html>



