{% load static %}
<html>
  <head>
    {% include "resources/dependencies.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'toolbar/toolbar.css' %}">
    <script src="{% static 'toolbar/toolbar.js' %}"></script>
    <title>Canvas Grader</title>
  </head>
  <body ng-app="canvas_grader" ng-controller="canvas_grader">
    {% include "toolbar/toolbar.html" %}
    <div class="all-content">
    {% include "toolbar/navigation.html" %}
    <div class="action-buttons">
        <md-button id="import-quizzes"
                type="button"
                class="md-primary md-hue-1"
                onclick="location.href='/courses/{{ course.id }}/quizzes/import'">
            Import Quizzes
        </md-button>
    </div>
    <span layont="row"><hr flex/></span>
    <ul>
    {% for quiz in quizzes %}
        <li style="font-size: large; padding: .25em">
            <a href="/quizzes/{{ quiz.id }}/grading-views">{{ quiz.assignment.name }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>
  </body>
</html>

