input.score {
    width: 2.3em;
    margin: 0 .4em 0 1em;
}

md-icon.done {
    color: green;
    font-size: 14px;
}

md-icon.not-done {
    color: orange;
    font-size: 14px;
}

div.answer {
    border: solid 2px black;
    padding: .5em .5em 0 .5em;
}

textarea.comment {
    width: 100%;
    height: 120;
}
